In [1]:
import pandas as pd

In [2]:
data1 = {
    'Name': ['Alice Johnson', 'Bob Smith', 'Carol White', 'David Brown', 'Eve Davis',
             'Frank Wilson', 'Grace Lee', 'Henry Taylor', 'Iris Martin', 'Jack Anderson'],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix',
             'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'State': ['NY', 'CA', 'IL', 'TX', 'AZ', 'PA', 'TX', 'CA', 'TX', 'CA'],
    'Age': [32, 28, 45, 38, 29, 41, 26, 35, 31, 40],
    'Years_Experience': [8, 5, 20, 12, 6, 18, 3, 10, 7, 15],
    'Income': [75000, 62000, 58000, 71000, 65000, 69000, 54000, 78000, 63000, 82000]
}
df1 = pd.DataFrame(data1)
df1.to_csv('income_small1.csv', index=False)

In [3]:
data2 = {
    'Name': ['Alice Johnson', 'Bob Smith', 'Carol White', 'David Brown', 'Eve Davis',
             'Frank Wilson', 'Grace Lee', 'Henry Taylor', 'Iris Martin', 'Jack Anderson'],
    'Occupation': ['Engineer', 'Teacher', 'Nurse', 'Manager', 'Analyst',
                   'Designer', 'Sales Rep', 'Consultant', 'Accountant', 'Developer'],
    'State': ['NY', 'CA', 'IL', 'TX', 'AZ', 'PA', 'TX', 'CA', 'TX', 'CA'],
    'Education_Years': [16, 16, 14, 18, 16, 16, 12, 18, 16, 16],
    'Hours_Per_Week': [45, 40, 50, 42, 38, 44, 48, 40, 41, 50],
    'Income': [75000, 62000, 58000, 71000, 65000, 69000, 54000, 78000, 63000, 82000]
}
df2 = pd.DataFrame(data2)
df2.to_csv('income_small2.csv', index=False)

In [4]:
data3 = {
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix',
             'Philadelphia', 'San Antonio', 'San Diego', 'Dallas', 'San Jose'],
    'Occupation': ['Engineer', 'Teacher', 'Nurse', 'Manager', 'Analyst',
                   'Designer', 'Sales Rep', 'Consultant', 'Accountant', 'Developer'],
    'Age': [32, 28, 45, 38, 29, 41, 26, 35, 31, 40],
    'Commute_Distance': [12.5, 8.3, 15.7, 6.2, 10.1, 9.8, 5.5, 14.2, 7.9, 18.3],
    'Income': [75000, 62000, 58000, 71000, 65000, 69000, 54000, 78000, 63000, 82000]
}
df3 = pd.DataFrame(data3)
df3.to_csv('income_small3.csv', index=False)